@model WebChat.Models.KorisnikLoginModel

@{
    ViewData["Title"] = "Prijava";
}

<h1>Prijava</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Prijava" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KorisnickoIme" class="control-label"></label>
                <input asp-for="KorisnickoIme" class="form-control" />
                <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifra" class="control-label"></label>
                <input asp-for="Sifra" class="form-control" />
                <span asp-validation-for="Sifra" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ZapamtiMe" /> @Html.DisplayNameFor(model => model.ZapamtiMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Prijavi se" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
